body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: grey;
}
.wrapper {
  border: 3px solid tan;
  border-radius: 10px;
  margin: 20px;
  padding: 15px 10px;
  background-color: silver;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 350px;
}

.display {
  width: 200px;
  height: 100px;
  background-color: black;
  color: green;
  font-family: Courier New, Courier, monospace;
  padding: 5px 10px 10px;
  margin: 20px auto;
}

.display h2 {
  font-size: 14px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.glass {
  width: 200px;
  background-color: rgba(0, 255, 255, 0.2);
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 15px rgba(0, 255, 255, 0.9);
  position: relative;
}

.Latte {
  background-color: #7C5838;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: -15px;
  color: white;
  text-align: center;
  border-top: 20px solid #F1CFA3;
  animation-name: LatteAnim;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.Capuccino {
  background-color: #7C5838;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: -15px;
  color: white;
  text-align: center;
  animation-name: CapuccinoAnim;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.Americano {
  background-color: #583F28;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  bottom: -15px;
  color: white;
  text-align: center;
  border-top: 5px solid tan;
  animation-name: AmericanoAnim;
  animation-duration: 4s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes LatteAnim {
  0% {
    height: 0
  }
  100% {
    height: 90%
  }
}

@keyframes AmericanoAnim {
  0% {
    height: 0
  }
  100% {
    height: 90%
  }
}

@keyframes CapuccinoAnim {
  0% {
    height: 0;
    border-top: 0px solid #F3DCC0;
  
  }
  20% {
    border-top: 50px solid #F3DCC0;
    
  }
  100% {
    height: 50%;
    border-top: 50px solid #F3DCC0;
  
  }
}